body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u364 {
  position:absolute;
  left:817px;
  top:353px;
  width:188px;
  height:250px;
  font-size:14px;
}
#u365 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u366 {
  position:absolute;
  left:25px;
  top:283px;
  width:600px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u367 {
  position:absolute;
  left:2px;
  top:8px;
  width:596px;
  word-wrap:break-word;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u368 {
  position:absolute;
  left:627px;
  top:353px;
  width:188px;
  height:250px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u370 {
  position:absolute;
  left:25px;
  top:328px;
  width:600px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u371 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u372 {
  position:absolute;
  left:25px;
  top:353px;
  width:600px;
  height:250px;
  font-size:14px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u374 {
  position:absolute;
  left:627px;
  top:328px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u375 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u376 {
  position:absolute;
  left:817px;
  top:328px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u377 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u378 {
  position:absolute;
  left:25px;
  top:25px;
  width:600px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u379 {
  position:absolute;
  left:2px;
  top:8px;
  width:596px;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u380 {
  position:absolute;
  left:25px;
  top:70px;
  width:600px;
  height:213px;
  font-size:14px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u382 {
  position:absolute;
  left:817px;
  top:628px;
  width:188px;
  height:250px;
  font-size:14px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u384 {
  position:absolute;
  left:627px;
  top:628px;
  width:188px;
  height:250px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u386 {
  position:absolute;
  left:25px;
  top:603px;
  width:600px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u387 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u388 {
  position:absolute;
  left:25px;
  top:628px;
  width:600px;
  height:250px;
  font-size:14px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u390 {
  position:absolute;
  left:627px;
  top:603px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u391 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u392 {
  position:absolute;
  left:817px;
  top:603px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u393 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u394 {
  position:absolute;
  left:1992px;
  top:353px;
  width:188px;
  height:373px;
  font-size:14px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u396 {
  position:absolute;
  left:1802px;
  top:353px;
  width:188px;
  height:373px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u398 {
  position:absolute;
  left:1200px;
  top:328px;
  width:600px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u399 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u400 {
  position:absolute;
  left:1200px;
  top:353px;
  width:600px;
  height:373px;
  font-size:14px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 {
  position:absolute;
  left:1802px;
  top:328px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u403 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u404 {
  position:absolute;
  left:1992px;
  top:328px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u405 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u406 {
  position:absolute;
  left:1992px;
  top:751px;
  width:188px;
  height:659px;
  font-size:14px;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u408 {
  position:absolute;
  left:1802px;
  top:751px;
  width:188px;
  height:659px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u410 {
  position:absolute;
  left:1200px;
  top:726px;
  width:600px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u411 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u412 {
  position:absolute;
  left:1200px;
  top:751px;
  width:600px;
  height:659px;
  font-size:14px;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u414 {
  position:absolute;
  left:1802px;
  top:726px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u415 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u416 {
  position:absolute;
  left:1992px;
  top:726px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u417 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u418 {
  position:absolute;
  left:1200px;
  top:283px;
  width:600px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u419 {
  position:absolute;
  left:2px;
  top:8px;
  width:596px;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u420 {
  position:absolute;
  left:817px;
  top:948px;
  width:188px;
  height:250px;
  font-size:14px;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u422 {
  position:absolute;
  left:25px;
  top:878px;
  width:600px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u423 {
  position:absolute;
  left:2px;
  top:8px;
  width:596px;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u424 {
  position:absolute;
  left:627px;
  top:948px;
  width:188px;
  height:250px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u426 {
  position:absolute;
  left:25px;
  top:923px;
  width:600px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u427 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u428 {
  position:absolute;
  left:25px;
  top:948px;
  width:600px;
  height:250px;
  font-size:14px;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u430 {
  position:absolute;
  left:627px;
  top:923px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u431 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u432 {
  position:absolute;
  left:817px;
  top:923px;
  width:188px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u433 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
