body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:25px;
  width:50px;
  height:50px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:85px;
  width:57px;
  height:16px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:132px;
  width:100px;
  height:50px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:132px;
  width:100px;
  height:50px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:233px;
  width:100px;
  height:50px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:101px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:52px;
  width:101px;
  height:8px;
}
#u101_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:46px;
  width:20px;
  height:20px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:619px;
  width:50px;
  height:50px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:679px;
  width:57px;
  height:16px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:233px;
  width:100px;
  height:50px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:216px;
  width:155px;
  height:84px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:300px;
  width:168px;
  height:24px;
  text-align:left;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:325px;
  width:168px;
  height:24px;
  text-align:left;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:157px;
  width:0px;
  height:0px;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:157px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:8px;
  height:109px;
}
#u110_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:53px;
  height:8px;
}
#u110_seg3 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:91px;
  width:20px;
  height:20px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:258px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:163px;
  height:8px;
}
#u111_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-10px;
  width:20px;
  height:20px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:412px;
  width:100px;
  height:60px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:598px;
  width:255px;
  height:91px;
  text-align:left;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:251px;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:258px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:191px;
  height:8px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-10px;
  width:20px;
  height:20px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:283px;
  width:0px;
  height:0px;
}
#u115_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:133px;
}
#u115_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:116px;
  width:20px;
  height:20px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:472px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:112px;
}
#u116_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:104px;
  width:9px;
  height:8px;
}
#u116_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:104px;
  width:8px;
  height:22px;
}
#u116_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:113px;
  width:20px;
  height:20px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:644px;
  width:0px;
  height:0px;
}
#u117_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:161px;
  height:8px;
}
#u117_seg1 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:-10px;
  width:20px;
  height:20px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:442px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:264px;
  height:8px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:-4px;
  width:8px;
  height:181px;
}
#u118_seg2 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:164px;
  width:20px;
  height:20px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:157px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:109px;
}
#u119_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:97px;
  width:93px;
  height:8px;
}
#u119_seg3 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:91px;
  width:20px;
  height:20px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
